@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');

 body{
	 font-family:'Raleway', sans-serif;
		   margin: 0;
		   width:100%;
		   height:100%;
	    }
		
		header{
			padding:5px 25px;
		}
		
		nav{
			padding:8px;
			background-color: grey;
		}
		
		nav ul{
			list-style-type: none;
			padding-left:0px;
			margin:0px;
		}
		
		nav ul li{
			display:inline-block;
		}
		
		nav ul li a{
			text-decoration: none;
			padding:0 5px;	
			font-weight:bold;
			text-transform: uppercase;
			font-size:13px;
			color: white;
		}
		
		footer{
			background-color: grey;
			padding:10px;
			color: white;
		}
		
		footer h2{
			margin:0px;

			text-transform: uppercase;
			font-size:13px;
			padding:0 5px;	
		}