<div class="row">
	<section class="main col-md-12">
		<article>
			<h2>Stephanie Tran - the developer</h2>
			<p>I'm in my third semester of Seneca's Computer Programming and Analysis program. I took a Web Development program last
				year at Humber College, and ever since then I've loved building and designing websites. When I graduate, I hope to do
				a Master's in Public Policy, specifically in protecting digital privacy rights, probably.</p>
		</article>
	</section>
</div>